* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;

    font-family: Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    border: dotted 1px rgba(128, 128, 128, 0.363);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #D6E4E2;
}

.topbar {
    background-color: black;
    width: 100%; 
    padding: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,
.project-container {
    background-color: white;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.project-preview {
    background-image: url("imgs/rock.png");
    background-position: center;
    background-size: 280px;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Grid setting  */
body {
    display: grid;
    grid-template-rows: 35px 1fr 35px;
    grid-template-columns: 130px 1fr;
    gap: 7px;
}

.topbar {
    grid-column: 1 / 3;
}

.side-bar {
    grid-row: 2;
}

.main {
    grid-row: 2 / 3;
}

.footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}