* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;

    font-family: Helvetica, sans-serif;
    color: rgb(136, 136, 136);
    border: dotted 1px rgba(128, 128, 128, 0.363);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #D6E4E2;
}

main div {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.navbar {
    background-color: black;
    width: 100%; 
    padding: 7px;
}

.login {
    background-color: white;
    color: white;
    margin-left: 180px;
}

/* Grid setting  */
main {
    display: grid;
    grid-template-rows: 1fr 3fr 5fr 4fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navbar {
    grid-column: 2 / 4;
}

.side-bar {
    grid-row: 1 / 5;
}

.main-bar {
    grid-row: 2 / 5;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

a {
    background-color: transparent;
}