---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
// import Pricing from '~/components/widgets/Pricing.astro';
// import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

// Import Image for Pricing
import Catalog from '~/components/widgets/Catalog.astro';
import konstruksi from "~/assets/images/katalog/konstruksi.png"
import mez from "~/assets/images/katalog/mez.png"
import kanopi from "~/assets/images/katalog/kanopi.png"
import pagar from "~/assets/images/katalog/pagar.png"
import partisi from "~/assets/images/katalog/partisi.png"
import pintu from "~/assets/images/katalog/pintu.png"
import tangga from "~/assets/images/katalog/tangga.png"
import railing from "~/assets/images/katalog/railing.png"
import teralis from "~/assets/images/katalog/teralis.png"

// Import images for Client Logo
import logoBi from "~/assets/images/klien/logoBi.png"
import logoBni from "~/assets/images/klien/logoBni.png"
import logoBri from "~/assets/images/klien/logoBri.png"
import logoAngkasaPura from "~/assets/images/klien/logoAngkasaPura.png"
import logoUmy from "~/assets/images/klien/logoUmy.png"
import logoPaBantul from "~/assets/images/klien/logoPaBantul.png"
import logoRskbSinduadi from "~/assets/images/klien/logoRskbSinduadi.png"
import logoTarakanita from "~/assets/images/klien/logoTarakanita.png"
import logoSangTimur from "~/assets/images/klien/logoSangTimur.png"
import logoBaleTimoho from "~/assets/images/klien/logoBaleTimoho.png"


const metadata = {
  title: 'Mitra Bangun Kreasi',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'Mitra Bangun Kreasi Hero Image' }} -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Tanya MBK',
        href: `https://wa.me/6285176712656?text=MBK,%20saya%20mau%20tanya%20...`,
        target: '_blank',
        icon: 'tabler:message'
      },
      {
        variant: 'primary',
        text: 'Jadwalkan Survey',
        href: `https://wa.me/6285176712656?text=MBK,%20saya%20mau%20dijadwalkan%20survey,%20lokasi%20saya%20di...`,
        target: '_blank',
        icon: 'tabler:calendar-plus'
      },

      // { text: 'Read More', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Konstruksi Bangunan Berkualitas
    </Fragment>
    <Fragment slot="title">
      <span class="text-red-600 highlight"> Renovasi Yang Berkelas  </span>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      Selamat datang di <span class="font-semibold">Mitra Bangun Kreasi (MBK)</span>, tempat di mana kualitas merupakan prioritas. Kami selalu memastikan setiap rumah tak hanya dibangun dengan baik, tetapi juga mencerminkan lifestyle dan karakter pemiliknya.
    </Fragment> -->
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Pricing Widget ******************* -->

  <Catalog
  title="Katalog Produk & Jasa Unggulan MBK"
  subtitle="Kualitas Terdepan untuk Kebutuhan Hunian dan Kantor Anda"
  tagline=""
  prices={[
      {
        title: 'Konstruksi',
        image: {
          src: konstruksi,
          alt: 'Image of Konstruksi Bangunan',
        },
        subtitle: 'mulai dari',
        price: '3.500.000',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Konstruksi',
          href: '/kategori/konstruksi',
        },
      },
      {
        title: 'Mezzanine',
        image: {
          src: mez,
          alt: 'Image of Mezzanine',
        },
        subtitle: 'mulai dari',
        price: '1.150.000',
        period: '/kg',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Mezzanine',
          href: '/kategori/mezzanine',
        },
      },
      {
        title: 'Kanopi/Carport',
        image: {
          src: kanopi,
          alt: 'Image of Kanopi/Carport',
        },
        subtitle: 'mulai dari',
        price: '450.000',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Kanopi',
          href: '/kategori/kanopi',
        },
        hasRibbon: true,
        ribbonTitle: 'Terlaris',
      },
      {
        title: 'Pagar Besi',
        image: {
          src: pagar,
          alt: 'Image of Pagar Besi',
        },
        subtitle: 'mulai dari',
        price: '500.000',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Pagar',
          href: '/kategori/pagar',
        },
      },
      {
        title: 'Pintu & Jendela',
        image: {
          src: pintu,
          alt: 'Image of Pintu & Jendela',
        },
        subtitle: 'mulai dari',
        price: '600.000',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Pintu & Jendela',
          href: '/tag/aluminium',
        },
      },
      {
        title: 'Tangga Besi',
        image: {
          src: tangga,
          alt: 'Image of Tangga Besi',
        },
        subtitle: 'mulai dari',
        price: '1.500.000',
        period: '/m',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Tangga',
          href: '/kategori/tangga',
        },
      },
      {
        title: 'Railing',
        image: {
          src: railing,
          alt: 'Image of Railing',
        },
        subtitle: 'mulai dari',
        price: '450.000',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Railing',
          href: '/kategori/railing',
        },
        hasRibbon: true,
        // ribbonTitle: 'Termurah',
      },
      {
        title: 'Teralis',
        image: {
          src: teralis,
          alt: 'Image of Teralis',
        },
        subtitle: 'mulai dari',
        price: '400.000',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Teralis',
          href: '/tag/teralis',
        },
      },
      {
        title: 'Partisi & Plafon',
        image: {
          src: partisi,
          alt: 'Image of Partisi/Sekat Dinding',
        },
        subtitle: 'mulai dari',
        price: '124.500',
        period: '/m²',
        callToAction: {
          target: '_blank',
          text: 'Lihat Katalog Partisi',
          href: '/kategori/partisi',
        },
        hasRibbon: true,
        // ribbonTitle: 'Termurah',
      },
      
    ]}
    >
  </Catalog>


  <Brands
  title="Our Valued Clients"
  subtitle="Kami Bangga Menjadi Bagian dari Perjalanan Mereka"
  icons={[]}
  images={[
    {
      src: logoBi,
      alt: 'Bank Indonesia',
    },
    {
      src: logoBni,
      alt: 'Bank BNI',
    },
    {
      src: logoBri,
      alt: 'Bank BRI',
    },
    {
      src: logoAngkasaPura,
      alt: 'Angkasa Pura',
    },
    {
      src: logoUmy,
      alt: 'Universitas Muhammadiyah Yogyakarta',
    },
    {
      src: logoPaBantul,
      alt: 'Pengadilan Agama Bantul',
    },
    {
      src: logoRskbSinduadi,
      alt: 'Rumah Sakit Khusus Bedah Sinduadi',
    },
    {
      src: logoTarakanita,
      alt: 'Yayasan Tarakanita',
    },
    {
      src: logoSangTimur,
      alt: 'Yayasan Sang Timur',
    },
    {
      src: logoBaleTimoho,
      alt: 'Bale Timoho Resto',
    },
  ]}
  />

 
  <!-- Features Widget *************** -->

  <!-- <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    tagline="Inside template"
    title="AstroWind's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Tahapan Transaksi dengan Mitra Bangun Kreasi"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Konsultasi</span>',
        description:
          "Konsultasi via secara langsung maupun online dengan project manager MBK",
        icon: 'tabler:brand-hipchat',
      },
      {
        title: 'Step 2: <span class="font-medium">Survey Lokasi</span>',
        description:
          "Pengecekan keadaan di lokasi dan pengukuran yang dilakukan oleh teknisi/tim ahli MBK.",
        icon: 'tabler:map-2',
      },
      {
        title: 'Step 3: <span class="font-medium">Pembuatan RAB</span>',
        description:
          'Pembuatan surat dan isian rencana anggaran',
        icon: 'tabler:checklist',
      },
      {
        title: 'Step 4: <span class="font-medium">Pembayaran</span>',
        description:
          'Sesuai dengan sistem dan tahapan pembayaran yang telah disepakati kedua belah pihak',
        icon: 'tabler:cash',
      },
      {
        title: 'Step 5: <span class="font-medium">Pengerjaan</span>',
        description:
          'Proses pengerjaan project mulai dari fabrikasi, pengiriman dan instalasi.',
        icon: 'tabler:crane',
      },
      {
        title: 'Step 5: <span class="font-medium">Done!</span>',
        icon: 'tabler:rosette-discount-check',
      },

    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Kenapa Mitra Bangun Kreasi (MBK)?"
    subtitle="Dengan pengalaman bertahun-tahun dalam industri konstruksi dan renovasi, kami selalu berkomitmen untuk memberikan hasil terbaik."
    tagline=""
    columns={3}
    items={[
      {
        title: 'Katalog Lengkap & Banyak Model',
        description: 'Tersedia banyak pilihan model pagar, kanopi, tangga, pintu, dan partisi yang bisa disesuaikan dengan gaya bangunan dan kebutuhan Anda.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Harga Bersahabat',
        description: 'Harga kompetitif dengan kualitas premium. Cocok untuk proyek pribadi maupun komersial dengan anggaran yang fleksibel.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Legal & Terdaftar',
        description: 'Usaha kami resmi, memiliki legalitas yang jelas dan terdaftar — memberikan rasa aman dan kepercayaan penuh bagi setiap klien.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Pelayanan Profesional',
        description: 'Tim yang komunikatif, ramah, dan detail membuat klien merasa nyaman dan percaya karena mendapatkan solusi sesuai kebutuhan.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Terpercaya & Banyak Repeat Order',
        description: 'Banyak klien puas dan kembali menggunakan jasa kami — mulai dari pemilik rumah hingga developer dan kantor profesional.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Fast Response',
        description: 'Tim customer service kami siap merespons dengan cepat dan membantu setiap pertanyaan atau permintaan Anda tanpa menunggu lama.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Material Berkualitas',
        description:
          'Menggunakan material terbaik yang kuat, tahan lama, dan aman untuk penggunaan jangka panjang.'
      },
      {
        title: 'Pemasangan Cepat & Rapi',
        description:
          'Proses pengerjaan dilakukan dengan cepat, bersih, dan tepat waktu tanpa mengganggu lingkungan sekitar, memberikan hasil maksimal.'
      },
      {
        title: 'Pelayanan Profesional',
        description:
          'Tim yang komunikatif, ramah, dan detail membuat klien merasa nyaman dan percaya karena mendapatkan solusi sesuai kebutuhan.'
      }
    ]}

    
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Pertanyaan yang sering ditanyakan pelanggan kami."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Belum punya desain?',
        description:
          "The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'Pakai e-faktur bisa?',
        description:
          "Its five-year mission: to explore strange new worlds. Many say exploration is our destiny, but our duty to future generations.",
      },
      {
        title: 'Belum tahu ukuran luas (lebar dan tinggi) area?',
        description:
          "They show that show to the people who make shows, and based on that one show they decide if they're going to make more shows.",
      },
      {
        title: "Ada promo potongan harga gak min?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped him. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'Rumahnya belum jadi, bagaimana min?',
        description:
          "Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'Mau liat contoh bahan materialnya langsung?',
        description:
          "Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Tahun Pengalaman', amount: '13' },
      { title: 'Project Selesai', amount: '1739' },
      { title: 'Total Review', amount: '481' },
      { title: 'Variasi Produk', amount: '292' },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Testimoni"
    subtitle='Feedback dan testimoni dari pelanggan merupakan jalan kami untuk menjamin kepuasan, membangun kepercayaan, dan meningkatkan kualitas layanan kami.'
    testimonials={[

  {
    "testimonial": "Desain pagarnya minimalis dan rapi banget. Kualitas bahan terasa kokoh, dan finishing-nya terlihat premium. Proses pemasangannya juga cepat dan bersih. Puas banget hasilnya!",
    "name": "Bapak Arya S.",
    "job": "Pogung Baru, Sleman",
    // "image": {
    //   "src": "https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80",
    //   "alt": "Budi Santoso Image"
    // }
  },
  {
    "testimonial": "Kanopi alderon dari mereka benar-benar sesuai ekspektasi. Tidak hanya fungsional melindungi dari hujan dan panas, tapi tampilannya juga menyatu dengan desain rumah. Rekomended!",
    "name": "Mbak Rina",
    "job": "Bambanglipuro, Bantul"
  },
  {
    "testimonial": "Tangga custom yang mereka buat sangat presisi dan kuat. Desainnya modern, cocok banget untuk interior rumah kami yang minimalis. Timnya juga komunikatif dan detail.",
    "name": "Pak Dimas",
    "job": "Mantrijeron, Yogyakarta"
  },
  {
    "testimonial": "Pintu dan jendela aluminium kacanya kelihatan mewah tapi harganya gak bikin kaget. Pemasangan cepat dan rapi. Udara dan cahaya masuk maksimal, rumah jadi terasa lega dan terang.",
    "name": "Ibu Lestari",
    "job": "Maguwoharjo"
  },
  {
    "testimonial": "Partisi kaca tempered bikin ruangan kantor kami kelihatan lebih luas dan profesional. Materialnya tebal dan aman, tidak gampang pecah. Finishing sangat halus.",
    "name": "Bapak Johan ",
    "job": "Owner Kantor Konsultan"
  },
  {
    "testimonial": "Kami sudah beberapa kali pesan pagar, kanopi, dan kaca di sini. Selalu puas dengan kualitas dan pelayanan. Mereka benar-benar ngerti kebutuhan klien dan kasih solusi yang pas.",
    "name": "Pak Tommy",
    "job": "Developer Perumahan"
  }

]
}
  />

<!-- Brands Widget ****************** -->


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Cari Tahu Lebih Banyak Tentang Konstruksi"
    information={`Kami akan terus mengupdate blog dan produk berdasarkan trend terbaru`}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Hubungi MBK',
        href: 'https://wa.me/6285176712656?text=MBK,%20saya%20punya%20budget%20sekitar...',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
      Punya budget terbatas?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>
    <Fragment slot="subtitle">
      MBK bisa bantu anda memaksimalkan penggunaan budget yang ada.
    </Fragment>
  </CallToAction>

</Layout>
