---
import Features2 from '~/components/widgets/Features2.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
// import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Brands from '~/components/widgets/Brands.astro';

// Import images for Client Logo
import logoBi from "~/assets/images/klien/logoBi.png"
import logoBni from "~/assets/images/klien/logoBni.png"
import logoBri from "~/assets/images/klien/logoBri.png"
import logoAngkasaPura from "~/assets/images/klien/logoAngkasaPura.png"
import logoUmy from "~/assets/images/klien/logoUmy.png"
import logoPaBantul from "~/assets/images/klien/logoPaBantul.png"
import logoRskbSinduadi from "~/assets/images/klien/logoRskbSinduadi.png"
import logoTarakanita from "~/assets/images/klien/logoTarakanita.png"
import logoSangTimur from "~/assets/images/klien/logoSangTimur.png"
import logoBaleTimoho from "~/assets/images/klien/logoBaleTimoho.png"

const metadata = {
  title: 'Tentang MBK',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Tentang Kami"
  >
  <!-- <Hero
    tagline="Tentang Kami"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  > -->
    <Fragment slot="title">
      Mitra Bangun Kreasi  – <br />
      <span class="text-accent dark:text-white highlight">Profesionalisme dalam Konstruksi Selama Lebih dari 13 Tahun</span>
    </Fragment>

    <Fragment slot="subtitle">
      Mitra Bangun Kreasi (MBK) adalah perusahaan asal Yogyakarta yang telah berpengalaman lebih dari belasan tahun di bidang konstruksi. Selama perjalanan kami, MBK telah berhasil menyelesaikan ratusan proyek konstruksi, baik di wilayah Yogyakarta maupun di berbagai daerah lainnya. Kami didukung oleh tim profesional yang ahli dan berpengalaman di bidangnya masing-masing, sehingga mampu memberikan hasil kerja yang optimal dan berkualitas.
      <br />
    </Fragment>
    <Fragment slot="subtitle">
      <br />
      <span class=" highlight">Dalam setiap pelaksanaan proyek, MBK selalu berkomitmen untuk menjalankan operasional sesuai dengan standar regulasi pemerintah, khususnya dalam hal kesehatan, keselamatan, dan keamanan kerja (K3), demi terciptanya lingkungan kerja yang aman dan bertanggung jawab.</span>
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Brands
  title="Our Valued Clients"
  subtitle="Kami Bangga Menjadi Bagian dari Perjalanan Mereka"
  icons={[]}
  images={[
    {
      src: logoBi,
      alt: 'Bank Indonesia',
    },
    {
      src: logoBni,
      alt: 'Bank Negara Indonesia',
    },
    {
      src: logoBri,
      alt: 'Bank Rakyat Indonesia',
    },
    {
      src: logoAngkasaPura,
      alt: 'Angkasa Pura I Group',
    },
    {
      src: logoUmy,
      alt: 'Universitas Muhammadiyah Yogyakarta',
    },
    {
      src: logoPaBantul,
      alt: 'Pengadilan Agama Bantul',
    },
    {
      src: logoRskbSinduadi,
      alt: 'Rumah Sakit Khusus Bedah Sinduadi',
    },
    {
      src: logoTarakanita,
      alt: 'Yayasan Tarakanita Yogyakarta',
    },
    {
      src: logoSangTimur,
      alt: 'Yayasan Sang Timur',
    },
    {
      src: logoBaleTimoho,
      alt: 'Bale Timoho Resto',
    },
  ]}
  />


  <Stats
    title="Statistik Kami"
    stats={[
      { title: 'Kantor & Workshop', amount: '4' },
      { title: 'Teknisi', amount: '16' },
      { title: 'Produk', amount: '292' },
      { title: 'Project Selesai', amount: '1739' },
    ]}
  />


  <Features2
    title="Lokasi Kami"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'Kantor Utama (Buka)',
        description: 'Lantai II, RT 003 RW 000 Trukan, Sriharjo, Bantul, D.I. Yogyakarta',
      },
      {
        title: 'Workshop (Buka)',
        description: 'Trukan, Sriharjo, Bantul, D.I. Yogyakarta',
      },
      {
        title: 'Kantor Representatif',
        description: 'Pleret, Banguntapan, Bantul, D.I. Yogyakarta',
      },
      {
        title: 'Kantor Pemasaran (Temporarily Closed)',
        description: 'Pogung Lor, Sinduadi, Mlati, Sleman, D.I. Yogyakarta',
      },
    ]}
  />

  <Features2
  title="Daerah Yang Dijangkau Layanan Kami"
  tagline="Covered Area"
  columns={3}
  items={[
    {
      title: 'AREA I: D.I Yogyakarta',
      description: 'Kota Yogyakarta (Jogja), Sleman, Bantul, Gunungkidul, Kulonprogo, dan sekitarnya.',
    },
    {
      title: 'AREA II: Jawa Tengah',
      description: 'Klaten, Boyolali, Solo, Sukoharjo, Surakarta, Purworejo, Kutoarjo, Kebumen, Gombong, Wonosobo, Banjarnegara, Temanggung, Magelang, Semarang, Secang, Ambarawa, dan sekitarnya.',
    },
    {
      title: 'AREA III: Di Luar D.I. Yogyakarta dan Jawa Tengah',
      description: 'Seluruh Area di Indonesia - Daerah yang belum disebutkan di Area I dan Area II'
    }
  ]}
/>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Layanan Pelanggan"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Whatsapp',
        description:
          '0851 7671 2656',
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Instagram',
        description:
          '@mitrabangunkreasi',
        icon: 'tabler:brand-instagram',
      },
      {
        title: 'Tiktok',
        description:
          '@mitrabangunkreasi',
        icon: 'tabler:brand-tiktok',
      },
      {
        title: 'Youtube',
        description:
        '@mitrabangunkreasi',
        icon: 'tabler:brand-youtube',
      },
      {
        title: 'Facebook',
        description:
        '@mitrabangunkreasi',
        icon: 'tabler:brand-facebook',
      },
      {
        title: 'Website',
        description:
          'mitrabangunkreasi.com',
        icon: 'tabler:world-www',
      },
    ]}
  />
</Layout>
