---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<ul class="grid grid-cols-2 gap-5 row-gap-5 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
  {
    posts.map((post) => (
      <li class="mb-3 md:mb-10">
        <Item post={post} />
      </li>
    ))
  }
</ul>
