:root {
  --mainColor: rgb(13, 13, 17);
  --background: black;
  --mainText: rgb(207, 207, 207);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--mainText);
  font-family: Verdana;
  /* border: solid 1px grey; */
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

h2 {
  padding: 30px;
}

.content {
  height: 90%;
  width: 75%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

  justify-content: center;
  align-items: center;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  width: 100%;

  cursor: pointer;
}