:root {
  --mainColor: rgb(13, 13, 17);
  --background: black;
  --mainText: rgb(207, 207, 207);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--mainText);
  font-family: Verdana;
  font-size: .9rem;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.content {
  height: 95%;
  width: 95%;

  display: grid;
  grid-template-columns: 190px 1fr;
  gap: 10px;
}

.content > div {
  background-color: var(--mainColor);
  border: solid 15px var(--mainColor);
}

.main-body {
  height: 100%;
  background-color: var(--mainColor);
  border-radius: 25px;
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  overflow: scroll;
}

.project-container-main {
  background-color: rgba(13, 13, 13);
  display: grid;
  grid-template-rows: 160px auto auto auto;
  border: solid 10px rgba(13, 13, 13);
  border-radius: 15px;
  gap: 10px;
}

.preview {
  width: auto;
  border-radius: 15px;
opacity: .8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 2rem;
}

.container-end {
  display: grid;
  grid-template-columns: 30px 30px;
  gap: 5px;
  justify-content: end;

  padding-right: 5px;
}

.live, .code {
  padding: 3px; 
  border-radius: 5px;
}