---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import { headerData } from '~/navigation';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Kanopi & Carport',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->
  
    <Hero2
      tagline="MBK - KK009"
      actions={[
        { variant: 'primary', target: '_blank', text: 'Pesan Sekarang', href: 'https://wa.me/6285176712656?text=MBK,%20saya%20mau%20pesan%20KK009' },
      ]}
      image={{
        src: 'https://images.tokopedia.net/img/cache/900/VqbcmM/2024/9/3/edd2e1d6-7992-40a6-9ed0-4dad23fb4638.png',
        alt: 'AstroWind Hero Image',
      }}
    >
      <Fragment slot="title">
        Kanopi/Carport <br/>Rangka Besi Hollow 40x60 <br/>Atap Alderon Double Layer
      </Fragment>
      <Fragment slot="subtitle">
        <span>Rp<strong>600.000</strong>/m2</span>
      </Fragment>
    </Hero2>
  

    <Hero2
      tagline="SaaS Web Demo"
      actions={[
        { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
        { text: 'Learn more', href: '#features' },
      ]}
      image={{
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
      }}
    >
      <Fragment slot="title">
        Simplify web design with Astrowind: <br /> your ultimate <span class="text-accent dark:text-white highlight"
          >SaaS</span
        > companion<br />
      </Fragment>
  
      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          Elevate your website creation process with <span class="font-semibold">AstroWind</span>'s SaaS solutions.</span
        >
        Seamlessly blend the power of Astro 4.0 and Tailwind CSS to craft websites that resonate with your brand and audience.
      </Fragment>
    </Hero2>
  

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
